/*  RESET CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    /*hành vi cuộn xuống khi ấn vào nút chạy cuộn*/
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

/*
1. từ ngoài vào trong
2. từ trên xuống dưới
3. từ tổng quan đến chi tiết
*/
/*
1. vị trí 
2. kích thước (width, height)
3. màu sắc
4. kiểu dáng(kiểu chữ, hình thù,...)
*/

/*Common*/
.clear{
    /*tác dụng tương tự như overflow hidden nma dùng bên html*/
    clear: both;
}

.text-white{
    color: #fff !important;
}

.text-center{
    text-align: center !important;
}

/*css chung cho hàng và cột để dễ dàng sử dụng k cần làm lại*/
.row{
    margin-left: -8px;
    margin-right: -8px;
}
/*class css kéo sang phải*/
.pull-right{
    float: right;
}

/*tạo element giả*/
/*tự động ghi clear vào sau class row k phải ghi bên html nó xấu*/
.row::after{
    content: "";
    display: block;
    clear: both;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-half{
    width: 50%;
}

.col-full{
    width: 100%;
}

.mt-8{
    margin-top: 8px;
}

.mt-16{
    margin-top: 16px;
}

/*main*/
#main {

}

#header {
    height: 46px;
    background-color: #000;
    /*gắn header lên top kể cả cuộn*/
    position: fixed;
    top: 0;
    /*fixed làm cho header ngắn lại chỉnh cho nó dính vào góc phải*/
    right: 0;
    left: 0;
    /*cho header nổi lên slieder */
    z-index: 1;
}
/*để cho độ dài của nav đến đâu thì chiếm 
khoảng đến đấy nếu không thì chiếm hết chiều ngang
thì icon sễ bị đẩy xuống dòng
*/
#nav{
    display: inline-block;
}

#nav,.subnav{
    /*loại bỏ css của thẻ li*/
    list-style-type: none;
}

#nav li{
    position: relative;
}

#nav > li{
    display: inline-block;
}

#nav > li > a{
    color: #fff;
}

#nav li a{
    
    /*bỏ gạch chân*/
    text-decoration: none;
    /*in hoa*/
    text-transform: uppercase;
    /*chiều cao dòng chữ*/
    line-height: 46px;
    padding: 0 24px;
}

#nav li:hover .subnav{
    display: block;
}

#nav .subnav li:hover a,
#nav > li:hover > a {
    color: #000;
    background-color: #ccc;
    /*để màu tràn ra toán khối*/
    display: block;
}

/*con của thẻ li sử dụng position để xác định vị trí*/
#nav .subnav{
    display: none;
    position: absolute;
    top : 100%;
    left: 0;
    background-color: #fff;
    /*bóng đổ*/
    box-shadow: 0 0 10px rgba(0 , 0, 0, 0.3);
    min-width: 160px;
}

#nav .subnav a{
    color: #000;
    padding: 0 12px;
    /*để khung bé hơn header*/
    line-height: 38px;
}

#nav .arrow-down{
    font-size: 14px;
}

#header .menu-mobile-btn,
#header .search-btn{
    /*xóa bỏ tính kế thừa chiếm nguyên của thẻ div đẩy btn sang phải*/
    float: right;
    
}

/*cái này là đo header chiếm hết đẩy mobile-btn ra ngoài nên
muốn mobile-btn nằm lên trên thì cần css lại với position
do ở cha đã có position : fixed rồi nên đơn giản hơn
*/
#header .menu-mobile-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .menu-mobile-btn,
#header  .search-icon{
    color: #fff;
    font-size: 20px;
    /*căn giữa như chữ bên trái*/
    line-height: 46px;
    padding: 0 21px;
}

#header .menu-mobile-btn:hover{
    background-color: #ccc;
}
/*đoạn này cần thêm .ti-menu là vì độ ưu tiên khi hover thì màu icon mới đổi*/
#header .menu-mobile-btn:hover .ti-menu{
    color: #000;
}

#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}

#slider {
    position: relative;
    /*do fixed làm header nổi lên trên slider nên dùng
    margin để đẩy slider xuống*/
    margin-top: 46px;
    /*kích thước tỉ lệ theo chiều ngang của chính nó*/
    padding-top: 50%;
    /*lấy ảnh , background position , background-size,backgroud-repeat*/
    background: url('/assets/css/img/slider1.jpg') top center/ cover no-repeat;
}

#slider .text-content{
    position: absolute;
    color: #fff;
    /*đẩy chữ lên trên cách bottom 1 khoảng*/
    bottom: 47px;
    /*đưa về chính giữa*/
    left: 50%;
    transform: translateX(-50%);
    /*căn chính giữa*/
    text-align: center;
}

#slider .text-heading{
    /*độ dày của chữ*/
    font-weight: 500;
    font-size: 24px;
}

#slider .text-description{
    /*giãn cách chữ*/
    margin-top: 25px;
    /*bóng đệm đen làm nổi chữ*/
    text-shadow: 0 0 3px #000;
}

#content {

}

#content .content-section{
    width: 800px;
    /*chiều rộng tối đa để thỏa mãn responsive*/
    max-width: 100%;
    padding: 64px 0 112px;
    /*đẩy ra giữa*/
    margin-left: auto;
    margin-right: auto;
    /*padd cho respon tablet vì trên có margin -8px nên dùng pad để bù trừ lại*/
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading{
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 4px;
    
}

#content .section-subheading{
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    /*chữ nghiêng và làm mở (độ trong suốt)*/
    font-style: italic;
    opacity: 0.6   ;
}

#content .about-text{
    font-size: 15px;
    margin-top: 25px;
    /*căn đều 2 bên đoạn văn*/
    text-align: justify;
    /*chỉnh độ cao 1 dòng*/
    line-height: 1.4;
}

#content .member-list{
    margin-top: 48px;
    /*ôm lại*/
    overflow: hidden;
}

#content .member-item{
    /*đẩy ảnh thành hàng ngang và chia đều để cách đều cho cả line bằng với content*/
    float: right;
    width: 33.33333%;
    text-align: center;
}

#content .-member-name{
    font-size: 15px;
    
}

#content .member-img{
    /*thu nhỏ ảnh và tạo khoảng cách*/
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;
}
/*màu nền tour*/
.tour-section{
    background-color: #000;
}

.ticket-list{
    background-color: #fff;
    margin-top: 40px;
    /*xóa dấu chấm của thẻ ul li*/
    list-style: none;
}

.ticket-list .sold-out{
    color: #fff;
    background-color: #f44336;
    padding: 3px 4px;
    margin-left: 16px;
}

.ticket-list .quantity{
    color: #fff;
    background-color: #000;
    border-radius: 50%;
    float: right;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    /*đẩy cho chố 3 cân hàng vì nó to quá đẩy xuống 
    dưới thẻ li, float đưa thuộc tính về dạng block
    nên mới có thể css được ntn còn inline k css đc nn
    */
    margin-top: -2px;
}
/*css cho thẻ li trong class ticketlist*/
.ticket-list li{
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
}

/*Place*/

.places-list{
    margin-top: 32px;
    overflow: hidden;
    /*cái này kết hợp với padding ở place-item để căn viền cho 3 item*/
    margin-left: -8px;
    margin-right: -8px;
}

.places-item{
    float: left;
    width: 33.33333%;
    padding: 0 8px;
}
/*đoạn này để width đê làm cho thẻ k bị tràn ra ngoài*/
.place-img{
    width: 100%;
    /*làm mất khoảng cách của inline để nó k tạo ra cách đen giữa body với img*/
    display: block;
}

.place-img:hover{
    opacity: 0.6;
}

.place-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;

}

.place-heading{
    font-size: 15px;
}

.place-time{
    margin-top: 15px;
}

.place-description{
    margin-top: 15px;
    line-height: 1.6;
}

.place-btn{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 8px 16px;
    margin-top: 16px;
    /*thẻ inline + padding sẽ đè lên cái khác chứ không đẩy ra
    inline block mới đẩy ra
    */
    display: inline-block;
}

.place-btn:hover{
    color: #000;
    background-color: #ccc;
}

/*Contact*/

.contact-content{
    margin-top: 46px;
}

.contact-info{
    font-size: 18px;
    line-height: 1.5;
}

.contact-info a{
    color: #101aef;
    /*nhạt màu*/
    opacity: 0.8;
}

.contact-info a:hover{
    opacity: 1;
}
/*css selector*/
/*css cho icon nên dùng with vì 1 số icon k bằng nhau*/
.contact-info  i[class*="ti-"]{
    width: 30px;
    /*inline k đặt width đc*/
    display: inline-block;
}

.contact-form{
    font-size: 15px;
}

.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.contact-form .form-submit-btn{
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 16px;
    float: right;
}
/*bài có nhiều nút giống nhau nên css giống nhau*/
.contact-form .form-submit-btn:hover{
    cursor: pointer;
    background-color: #ccc;
    color: #000;
    border: 1px solid #000;
}

.map-section img{
    /*kế thừa 100% màn hình nhưng hình ảnh thì không*/
    width: 100%;
}

#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .socials-list{
    font-size: 24px;
}

#footer .socials-list a{
    color: rgba(0 , 0, 0, 0.6);
    text-decoration: none;
}

#footer .socials-list a:hover{
    color: rgba(0 , 0, 0, 0.4);
}

.copyright {
    margin-top: 15px;
    color: rgba(0 , 0, 0, 0.6);
}

.copyright a{
    color: rgba(0 , 0, 0, 0.6);
}

.copyright a:hover{
    color: rgba(0 , 0, 0, 0.4);
}

.modal{
    /*lớp phủ toàn bộ trình duyệt*/
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0 , 0, 0, 0.3);
    /*2 thuộc tính này để con của modal nằm chính giữa chiều cao của cha*/
    display: none;
    align-items: center;
    justify-content: center;
}
/*class sp cho js*/
.modal.open{
    display: flex;
}

.modal-container{
    background-color: #fff; 
    width: 900px;
    /*khi cho nhỏ trang lại thì nó k dính viền*/
    max-width: calc(100% -32px);
    min-height: 200px;
    position: relative;
    /*gọi animation , kiểu chuyển động , thời gian chạy*/
    animation: modalFadeIn ease 0.3s;
}

.modal .modal-header{
    background-color: #009688;
    height: 130px;
    /*căn chính giữa chiều height và width*/
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.modal-icon-heading{
    margin-right: 16px;
}

.modal-close{
    position: absolute;
    color: #fff;
    top: 0;
    right: 0;
    /*tạo cho nút ấn rộng hơn*/
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}

.modal-close:hover{
    opacity: 1;
    background-color: #757575;
}

.modal-body{
    padding: 12px;

}

.modal-label{
    /*tính chất block mỗi thằng nằm 1 hàng*/
    display: block;
    font-size: 15px;
    padding: 8px;
}

.modal-input{
    border: 1px solid #ccc;
    width: 100%;
    /*cái padd này để mở rộng thẻ input dễ thay đổi hơn height width*/
    padding: 10px;
    /*thẻ input có thể thay đổi theo font-size*/
    font-size: 15px;
    margin-bottom: 24px;
}

#buy-tickets{
    background-color: #009688;
    border: none;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
    color: #fff;
}

#buy-tickets:hover{
    cursor: pointer;
    opacity: 0.9;
}

.modal-footer{
    padding: 16px;
    /*sang phải*/
    text-align: right;
}

.modal-footer a{
    color: blue;
}

@keyframes modalFadeIn {
    /*animetion chạy từ đây*/
    from {
        /*phần opacity ở đây để nó xuất hiện mờ r đến rõ*/
        opacity: 0;
        transform: translateY(-140px);
    }
    /*đến đây*/
    to {
        opacity: 1;
        transform: translateY(0);
    }
}